mixin renderComment (comment)
  div.card.mb-3
    div.card-header.small
      div.row
        div.col-5
          a(href=`/user/${comment.author.username}`)= comment.author.username
        div.col-2.text-center
          if (comment.author.proSubscription && comment.author.proSubscription.isSubscribed)
            img(src="/img/gabcade-pro-icon.png").profile.small
          else
            img(src="/img/profile-default.png").profile.small
        div.col-5.text-right
          a(href=`/game/${comment.subject.slug}`)= comment.subject.title
    div.card-body
      div!= markdown.toHTML(comment.content)
    div.card-footer.small
      div.row
        div.col-6
          a(href=`/comment/${comment._id}/reply`) Reply
        div.col-6.text-right
          a(href=`/comment/${comment._id}`)= moment(comment.created).fromNow()
