mixin renderUnityGame (game)
  div.card.mb-3
    div.card-header
      a(href=`/game/${game.slug}`)
        h4.text-center.mb-0= game.title
    a(href=`/game/${game.slug}`)
      img(src=`/img/game-cards/${game.slug}.jpg`).responsive
    a(href=`/game/${game.slug}`).btn.btn-info PLAY NOW!
    div.card-body
      div.card-body.game-description
        p.lead= game.headline
        div!= markdown.toHTML(game.description)
    div.hashtags
      p
        each tag in game.tags
          span
            a(href=`https://gab.ai/hash/${tag}`).mr-2 ##[span= tag]