extends ../layout

block gametitle
  title #{game.title} | #{game.headline}

block gamecss
  //- link(rel="shortcut icon", href=`/builds/${game.slug}/TemplateData/favicon.ico`)
  link(rel="stylesheet", href=`/builds/style.css`)

block gamejs
  script(src=`/builds/${game.slug}/TemplateData/UnityProgress.js`)
  script(src=`/builds/${game.slug}/Build/${game.unity3d.engineFile}`)

block content
  
  div.card.my-3
    div.card-header= game.title
    div.card-body
      div.webgl-content
        div(id="gameContainer").game-container.embed-responsive.embed-responsive-16by9
    div.card-footer
      button(onclick="gameInstance.SetFullscreen(1)").btn.btn-default.mr-3 fullscreen
      a(href=`/game/${game.slug}/discuss`) Discuss

  script.
    var gameInstance = UnityLoader.instantiate(
      "gameContainer",
      `/builds/!{game.slug}/Build/!{game.unity3d.configFile}`
    );
    // Unity, for whatever reason, sets margin:0 on gameContainer.
    // That's not happening.
    var div = document.getElementById('gameContainer');
    div.style.margin = '';

    var canvas = document.querySelector('canvas');
    canvas.classList.add('embed-responsive-item');
