extends ../layout

block gametitle
  title NUCLEOID

block gamecss
  //- link(rel="shortcut icon", href=`/builds/${slug}/TemplateData/favicon.ico`)
  link(rel="stylesheet", href=`/builds/${slug}/TemplateData/style.css`)

block gamejs
  script(src=`/builds/${slug}/TemplateData/UnityProgress.js`)
  script(src=`/builds/${slug}/Build/${engineFile}`)

block content
  div.webgl-content.mb-3
    div(id="gameContainer", style="width: 960px; height: 540px;")
  div.text-center
    button(onclick="gameInstance.SetFullscreen(1)").btn.btn-default.btn-sm fullscreen

  script.
    var gameInstance = UnityLoader.instantiate(
      "gameContainer",
      `/builds/!{slug}/Build/!{configFile}`
    );
    // Unity, for whatever reason, sets margin:0 on gameContainer.
    // That's not happening.
    var div = document.getElementById('gameContainer');
    div.style.margin = '';
