extends layout
block admin-content
  div.jumbotron
    div.row.align-items-center
      div.col
        h1.mb-0 Game Management
      div.col-auto
        a(href="/admin/game").btn.btn-primary ADD GAME

  div.row.mb-2.font-weight-bold
    div.col Title
    div.col Slug
    div.col Team
    div.col Players
    div.col Plays

  each game in games
    div.row.mb-2
      div.col
        a(href=`/admin/game/${game._id}`)= game.title
      div.col= game.slug
      div.col= game.team ? game.team.name : 'N/A'
      div.col= game.stats.players
      div.col= game.stats.plays