extends ../layout
block content

  include ../components/comment

  div.card.my-3
    div.card-header
      div.row
        div.col-sm-4.col-lg-2.text-center
          div
            if (profile.proSubscription && profile.proSubscription.isSubscribed)
              img(src="/img/gabcade-pro-icon.png").profile.large
            else
              img(src="/img/profile-default.png").profile.large
          if ((profile._id.toString() === user._id.toString()) && (!user.proSubscription || !user.proSubscription.isSubscribed))
            a(href="/stripe/get-started").btn.btn-primary.btn-sm.mt-3 UPGRADE
        
        div.col-sm-8.col-lg-10.text-center.text-lg-left
          h1= profile.username
          if profile && profile.bio
            p.lead!= markdown.toHTML(profile.bio)
    if gameInstance
      div.card-body
        div.row.font-weight-bold
          div.col Game
          div.col Note
          div.col Score
          div.col Started
        div.row
          div.col
            a(href=`/game/${gameInstance.game.slug}`)= gameInstance.game.title
          div.col= gameInstance.note
          div.col= numeral(gameInstance.score).format('0,0')
          div.col= moment(gameInstance.created).fromNow()
    
  div.row
    div.col-lg-8
      div.card.mb-3
        div.card-header
          h4.mb-0 Recent game results
        div.card-body
          div.row.font-weight-bold.mb-2
            div.col Game
            div.col Started
            div.col Finished
            div.col Note
            div.col Score
          each score in gameScores
            div.row.mb-1
              div.col
                a(href=`/game/${score.game.slug}`)= score.game.title
              div.col= moment(score.created).fromNow()
              div.col= moment(score.finished).fromNow()
              div.col= score.note
              div.col= numeral(score.score).format('0,0')

    div.col-lg-4
      div.card.mb-3
        div.card-header
          h4.mb-0 Recent achievements
        div.card-body
          p.mb-0 This space is reserved for recent achievements earned in-game.

      div.card.mb-3
        div.card-header
          h4.mb-0 Recent comments
        div.card-body
          if !comments || !comments.length
            p #{profile.username} hasn't posted any comments, yet. You know how to encourage them!
          else
            each comment in comments
              +renderComment (comment)